<style>
    .logout-button {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: #f44336;
        color: white;
        padding: 10px 20px;
        border-radius: 7px;
        text-decoration: none;
        font-size: 1rem;
    }

    .logout-button:hover {
        background-color: #d32f2f;
    }

    body {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		margin: 0;
		}
	h1 {
		font-size: 5em;
		text-align: center;
	}
</style>

<a href="{% url 'logout' %}" class="logout-button">Logout</a>
<h1>Not Authorised</h1>



