
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 800px;
        padding: 20px;
    }

    .left-pane {
        flex-basis: 50%;
    }

    .right-pane {
        flex-basis: 50%;
    }

    h1 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .sentence {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
    }

    .sentence p {
        margin: 0;
        flex-basis: 50%;
    }

    .sentence input {
        flex-basis: 50%;
        height: auto;
        align-self: stretch;
        box-sizing: border-box;
        padding: 10px;
    }

    input {
        width: 100%;
    }

    #submit-btn {
        background-color: #4CAF50;
        border: none;
        border-radius: 7px;
        color: white;
        cursor: pointer;
        font-size: 16px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
    }

    #submit-btn:hover {
        background-color: #333;
    }
    .logout-button {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: #f44336;
        color: white;
        padding: 10px 20px;
        border-radius: 7px;
        text-decoration: none;
        font-size: 1rem;
    }

    .logout-button:hover {
        background-color: #d32f2f;
    }
</style>

<h1>{{ project.articleTitle }}</h1>
{% for sentence in sentences %}
    <div class="sentence">
        <p>{{ sentence.originalSentence }}</p>
        <input type="text" size="150" name="translatedSentence" placeholder="Translated sentence" value="{% if sentence.translatedSentence %}{{ sentence.translatedSentence }}{% else %}{% endif %}" onfocus="if (this.value=='None') this.value='';">
    </div>
{% endfor %}
<button id="submit-btn">Submit</button>
<a href="{% url 'logout' %}" class="logout-button">Logout</a>

<script>
    const submitBtn = document.querySelector('#submit-btn');
    const sentences = document.querySelectorAll('.sentence');
    submitBtn.addEventListener('click', () => {
        const translations = [];
        sentences.forEach((sentence) => {
            const originalSentence = sentence.querySelector('p').textContent;
            const translatedSentence = sentence.querySelector('input').value;
            const translation = {
                originalSentence: originalSentence,
                translatedSentence: translatedSentence
            };
            translations.push(translation);
        });

        fetch('{% url "sentences" project.id %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(translations)
        })
        .then(data => {
            window.location.href = "{% url 'sentenceupdated' %}";
            console.log(data);
        })
        .catch(error => {
            console.error(error);
        });
    });
</script>
