<div style="text-align: center; background-color: #f1f1f1; padding: 10px;">
    <h1>Sentence Updated</h1>
    <br>
    <a href="{% url 'project' %}" style="background-color: #4CAF50; color: white; padding: 0.5rem 1rem; border-radius: 7px; text-decoration: none; font-size: 1.2rem; margin-top: 1rem;">Create Another Project</a>
    <a href="{% url '' %}" style="background-color: #333; color: white; padding: 0.5rem 1rem; border-radius: 7px; text-decoration: none; font-size: 1.2rem; margin-top: 1rem; margin-left: 1rem;">List of Active Projects</a>
</div>

<style>
    a:hover {
        background-color: blue;
        color: white;
    }
</style>
